<div class="collapse bg-dark" id="navbarHeader">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-md-7 py-4">
						<h4 class="text-white">About</h4>
						<p class="text-muted">Project built as an assignment for InfoBip</p>
					</div>
					<div class="col-sm-4 offset-md-1 py-4">
						<h4 class="text-white">Contact</h4>
						<ul class="list-unstyled">
							<li><a href="#" class="text-white">Follow on Twitter</a></li>
							<li><a href="#" class="text-white">Like on Facebook</a></li>
							<li><a href="#" class="text-white">Email me</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar navbar-dark bg-dark box-shadow">
			<div class="container d-flex justify-content-between">
				<a href="#" class="navbar-brand d-flex align-items-center">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
					<strong>Content Card Manager</strong>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
	</header>

  <div class="container">

  <div class="jumbotron">
    <h1><i class="fa fa-camera-retro"></i> The Card Gallery </h1>
    <p>Lots and lots of cards!</p>
  </div>

    <div class="row">
			<div ng-repeat="item in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) track by $index" class="col-lg-4 col-sm-6">
				<div class="card border-primary text-white mb-3 hovereffect ">
				  <div class="card-header bg-dark"><i class="fa fa-info-circle"></i> {{item.header}}</div>
				  <div class="card-body" ng-style="{'background-image':'url({{images[$index%6]}})'}">
				    <h5 class="card-title">{{item.title}}</h5>
				    <p class="card-text">{{item.text}}</p>
				  </div>
					<div class="overlay">
					 <h2>Make your choice</h2>
					 <a class="info" href="#" data-toggle="modal" data-target="#myModal" ng-click="modalData($index)">Open</a>
					 <a class="info" ng-click="deleteData($index)">Delete</a>
					 <a class="info" ng-click="printPage()">Print</a>
				 </div>
				</div>
			 </div>
		</div>
		<modal></modal>
    <ul class="page" uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>


